<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/inscription.css}">
</head>
<body>
<div class="signup-container">
    <img src="/images/logo.png" alt="Logo" class="logo">
    <h1>Connexion</h1>
    <form th:action="@{/connexion}" method="post" class="formulaire">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="motDePasse" placeholder="Mot de passe" required>
        <button type="submit">Se connecter</button>
    </form>
    <p class="login-text">Pas encore de compte ?
        <a th:href="@{/client/inscription}">Créer un compte</a>
    </p>
</div>
</body>
</html>
